<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/set-password" method="POST" onsubmit="return abort(this)">
      <input
        type="password"
        name="admin-password"
        placeholder="Admin password"
      />
      <input type="submit" value="Hash password" />
    </form>
    <script>
      const abort = e => {
        e.preventDefault();
        document.write("Ok");
        return false;
      };
    </script>
  </body>
</html>
